@model IQueryable<ParticipationEvent>

@{
    const string controllerName = "CompetitionResults";
}

@foreach (var item in Model)
{
    <tr>
        <td class="align-middle">@item.SportEvent</td>
        <td class="align-middle">@item.Team</td>
        <td class="align-middle">@item.Score</td>
        <td class="align-middle">
            <button class="btn btn-secondary btn-sm" onclick="editItem('@controllerName', 
            {'sportEventId':'@item.SportEventId', 'teamId': '@item.TeamId'})"
                    data-toggle="tooltip" data-placement="top" title="Редактировать">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            @if (User.IsInRole("Admin"))
            {
                <button class="btn btn-danger btn-sm" onclick="deleteItem('@controllerName', 
                {'sportEventId':'@item.SportEventId', 'teamId': '@item.TeamId'})"
                        data-toggle="tooltip" data-placement="top" title="Удалить">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            }
        </td>
    </tr>
}