@model Location

@{
    ViewData["Title"] = (ViewBag.Edit ? "Редактирование" : "Создание") + " места расположения";
    const string controllerName = "Locations";
}

<div class="modal-header">
    <h5 class="modal-title" id="modalLabel">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
</div>

<div class="modal-body">
    <div id="formAlert" class="alert alert-danger" role="alert" style="display: none;">[TextContent]</div>
    @using (Html.BeginForm("SaveItem", controllerName, FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.Hidden("Id", Model.Id)

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="Name"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name"/>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="CityId"></label>
            <div class="col-sm-10">
                @Html.DropDownListFor(
                    item => item.CityId,
                    new SelectList(ViewBag.Cities, "Id", ""),
                    new { @class = "form-select" })
                <span class="text-danger" asp-validation-for="CityId"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="Address"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Address"/>
                <span class="text-danger" asp-validation-for="Address"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="TypeId"></label>
            <div class="col-sm-10">
                @Html.DropDownListFor(
                    item => item.TypeId,
                    new SelectList(ViewBag.Types, "Id", ""),
                    new { @class = "form-select" })
                <span class="text-danger" asp-validation-for="TypeId"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="Capacity"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Capacity"/>
                <span class="text-danger" asp-validation-for="Capacity"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-form-label col-sm-2" asp-for="Description"></label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="8" asp-for="Description"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-sm-2">
                <button class="btn btn-secondary w-100" type="button" data-bs-dismiss="modal">Закрыть</button>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary w-100" type="submit">Сохранить</button>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_ValidationScriptsPartial");

<script>
    $(document).ready(function () {
        $.validator.messages.number = 'Введите правильное числовое значение.';
        
        $('form').submit(function (event) {
            event.preventDefault();
            checkUnique('@controllerName');
        });
    });
</script>
