@model List<Location>

@{
    ViewData["Title"] = "Места расположения";
}

<h1>@ViewData["Title"]</h1>

<table id="locations_table" class="table table-striped">
    <thead>
        <tr>
            <th><a href="?sort=name">Название</a></th>
            <th><a href="?sort=city">Город</a></th>
            <th><a href="?sort=address">Адрес</a></th>
            <th><a href="?sort=type">Тип</a></th>
            <th><a href="?sort=capacity">Вместимость</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>@item.Address</td>
                <td>@item.Type</td>
                <td>@item.Capacity</td>
            </tr>
        }
    </tbody>
</table>
