@model System.Collections.Generic.List<GreatSportEventWeb.Models.Location>

@{
    ViewData["Title"] = "Места расположения";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Город</th>
        <th>Адрес</th>
        <th>Тип</th>
        <th>Вместимость</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.Address</td>
            <td>@item.Type</td>
            <td>@item.Capacity</td>
        </tr>
    }
    </tbody>
</table>